/*reset*/










.nombreProducto {
    font-size: 30px;
}

.precio {
    font-size: 30px;
}
























    












/*Media queries*/

@media only screen and (min-width:768px) {

   
  
    .titular-2 {
        font-size: 60px;
    }
    .parrafoMain {
        font-size: 20px;
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #imgMain {
        height: 600px;
        width: 400px;
        margin: 30px 0;
    }
    #imgCampo {
        height: 400px;
        width: 600px;
    }
    #imgCanasta {
        height: 400px;
        width: 600px;
    }
    
    h4 {
        font-size: 30px;
    }

    

    #footer {
        height: 300px;  
        margin-top: 30px;
    }
    
    #logoFacebook {
        font-size: 7rem;
    }

    #logoInstagram {
        font-size: 7rem;
    }

    #logoPinterest {
        font-size: 7rem;
    }

   
    .parrafoPages {
        font-size: 25px;
    }
    
    .fotosServicios {
        height: 500px;
        width: 350px;
    }
}

@media only screen and (min-width:1024px) {
    
    
    .titular-1 {
        font-size: 80px;
    }

    .titular-2 {
        font-size: 60px;
    }

    .parrafoMain {
        font-size: 40px;
    }

    #footer {
        height: 500px;
    }

    h4 {
        font-size: 40px;
    }

    #logoFacebook {
        font-size: 12rem;
    }

    #logoInstagram {
        font-size: 12rem;
    }

    #logoPinterest {
        font-size: 12rem;
    }

    #imgMain {
        height: 900px;
        width: 650px;
    }

    #imgCampo {
        height: 600px;
        width: 900px;
    }
    
    #imgCanasta {
        height: 600px;
        width: 900px;
    }
    
    .parrafoPages {
        font-size: 30px;
    }

    .fotosServicios {
        height: 650px;
        width: 450px;
    }

    #formularioParticulares {
        width: 60vw;
    }

    #formularioEmpresas {
        width: 60vw;
    }

    #mapa {
        width: 60vw;
        height: 60vw;
    }
}