body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;  
    
    #main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        section {

            .titular-1 {
                font-family: "Satisfy", sans-serif;
                text-align: center;
                color: rgb(230, 8, 8);
                font-size: 35px;
                padding-top: 2vh;
            }

            .titular-2 {
                font-family: "Satisfy", sans-serif;
                text-align: center;
                color: rgb(238, 238, 8);
                font-size: 35px;
                padding: 5vw;          
            }

            div {
                ul {
                    li {
                        a {
                            text-decoration: none;
                        }
                    }
                }
            }

            #imgMain {

                img {
                    width: 60vw;   
                }
            }
            
            #linkTienda {
                padding: 30px;
                transition: all 2s ease-in-out;
                
            }
        }

        .parrafoMain {
            margin: 0px 50px;
            font-family: "Montserrat", sans-serif;
            text-align: center;
            color: rgb(11, 126, 11);
        
            display: grid;
            grid-template-columns: repeat (3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            'parrafo1 parrafo1 parrafo1'
            'parrafo2 parrafo2 parrafo2'
            'parrafo3 parrafo3 parrafo3'
            ;

            #parrafo1 {
                grid-area: parrafo1;
            }
            
            #parrafo2 {
                grid-area: parrafo2;
            }
            
            #parrafo3 {
                grid-area: parrafo3;
            }      
        }

        #particulares {

            .flexFotos {
                
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-around;
                

                article {

                    img {
                        height: 60vw;
                        width: 40vw;
                        margin-top: 2em;
                        margin-bottom: 1em;
                    }    
                }        
            }

            div {
                .parrafoPages {
                    margin: 0px 30px;
                    font-family: "Montserrat", sans-serif;
                    text-align: center;
                    color: rgb(11, 126, 11);
                
                }
            }      
        }

        #empresas {

            .flexFotos {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-around;
                  
                article {
                    margin-bottom: 20px; 
                    img {
                        height: 60vw;
                        width: 40vw;
                        margin-top: 2em;
                        margin-bottom: 1em;
                        
                    }
                } 
            }    
        }

        div {
            
            .parrafoPages {
                margin: 5vw;
                font-family: "Montserrat", sans-serif;
                text-align: center;
                color: rgb(11, 126, 11); 
            }

            #mapa {
                width: 80vw;
                height: 80vw;
            }
        }

        div {
            form {
                .modal-header {
                    background-color: #198754;
                    color: black;
                    
                }
                
                .modal-body {
                    background-color: #ffc107;
                    color: black;
                }
                
                .modal-footer {
                    background-color: #dc3545;
                }
            }
        }

        .menuFacilNavegacion {
            background-color: black;
            margin: 20px 0;
            padding: 5px 10px;

            nav {

                ol {
                    margin: 0;

                    .pagAnteriores {
                        text-decoration: none;
                    }
                }
            }    
        }
        
        .store {

            .conteiner {

                .items {
                    
                    .row {
                        margin: 0;
                    }
                }
            }
        }
    }
}

#linkTienda:hover {
    transform: scale(1.3);   
}



