@media only screen and (min-width:768px) {
    
    header {
        height: 350px;

        nav{
            display: inline-block;
        }   
        
        div {
            #logo {
                height: 250px;
                width: 550px;
            }
        }

        #menuMobile{
            display: none;
        }
    }  

    #main {

        section {
            
            div {
                .titular-1 {
                    font-size: 60px;
                    padding-top: 4vh;
                }

                .titular-2 {
                    font-size: 50px;
                }
            }
    
            
        }

        .parrafoMain {
            font-size: 25px;
            padding: 0 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            
        }

        section {

            div {

                .parrafoPages {
                    font-size: 25px;
                }           
            }
        }       
    }
    
    #footer {
        height: 300px;  
        margin-top: 0px;

        div {

            #redes {

                li {

                    #logoFacebook {
                        font-size: 7rem;
                    }

                    #logoInstagram {
                        font-size: 7rem;
                    }
                
                    #logoPinterest {
                        font-size: 7rem;
                    }
                }
            }
        }
    }

    
}

@media only screen and (min-width:1024px) {
    header {
        height: 500px;

        div {
            #logo {
                height: 400px;
                width: 800px;
            }
        }
    }

    #main {

        section {

            div {
                .titular-1 {
                    font-size: 80px;
                    padding-top: 6vh;
                }
            
                .titular-2 {
                    font-size: 70px;
                }

                .parrafoPages {
                    font-size: 30px;
                }
            }
        }

        .parrafoMain {
            font-size: 35px;

            
        }

        
        section {

            div {

                #formularioParticulares {
                    width: 70vw;
                }
            
                #formularioEmpresas {
                    width: 70vw;
                }

                #mapa {
                    width: 60vw;
                    height: 60vw;
                }
            }
        }
    }
    
    #footer {
        height: 500px;

        div {

            #redes {

                li {

                    #logoFacebook {
                        font-size: 12rem;
                    }

                    #logoInstagram {
                        font-size: 12rem;
                    }
                
                    #logoPinterest {
                        font-size: 12rem;
                    }
                }
            }
        }
    }
}